@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="main-footer">
    
    <div class="footer-head">
        <span class="head-footer--item">Visionary</span>
        <span class="head-footer--item">Strategic</span>
        <span class="head-footer--item">Engaging</span>
    </div>
    
    <div class="divider dark" style="border-top-width:2px"></div>
    
    <div class="footer-body">
        <div class="general-info">
            <img src="https://ge-cms-dev.azurewebsites.net/media/plsjeufr/footer-logo.svg" alt="footer logo" class="general-info__logo">
            <p class="general-info__description">We believe that realization of visions and business success, comes from the combined power of people and structure. We offer an efficient online based leadership training and a smart digital solution for goalbased management</p>
        </div>
        <div class="links">
            <h4 class="column-header">Certified leader</h4>
            <ul>
                <li><a href="/">Auctor bibendum</a></li>
                <li><a href="/">Natoque class erat tellus</a></li>
                <li><a href="/">Turpis nascetur curae</a></li>
                <li><a href="/">Diam sem, ultricies dis, curae</a></li>
            </ul>
        </div>
        <div class="links hidden-links">
            <h4 class="column-header">Manage success</h4>
            <ul>
                <li><a href="/">Auctor bibendum</a></li>
                <li><a href="/">Natoque class erat tellus</a></li>
                <li><a href="/">Turpis nascetur curae</a></li>
                <li><a href="/">Diam sem, ultricies dis, curae</a></li>
            </ul>
        </div>
        <div class="social">
            <h4 class="column-header">Like, share &amp; follow us</h4>
            <div class="media-icons">
                <a href="/" class="icon control">
                    <svg width="12" height="9" viewBox="0 0 12 9" fill="currentColor">
                        <path d="M11.7528 1.3147C11.6145 0.800612 11.2092 0.395362 10.6951 0.256934C9.7561 0 5.99987 0 5.99987 0C5.99987 0 2.24378 0 1.30474 0.247193C0.800612 0.385474 0.385401 0.800685 0.24712 1.3147C0 2.25367 0 4.20096 0 4.20096C0 4.20096 0 6.15807 0.24712 7.08722C0.385548 7.60124 0.790724 8.00649 1.30481 8.14491C2.25367 8.40192 6.00001 8.40192 6.00001 8.40192C6.00001 8.40192 9.7561 8.40192 10.6951 8.15473C11.2092 8.01637 11.6145 7.61112 11.7529 7.09711C11.9999 6.15807 11.9999 4.21085 11.9999 4.21085C11.9999 4.21085 12.0098 2.25367 11.7528 1.3147ZM4.80396 5.99994V2.40198L7.92746 4.20096L4.80396 5.99994Z"></path>
                    </svg>
                </a>
                <a href="/" class="icon control">
                    <svg width="6" height="12" viewBox="0 0 6 12" fill="currentColor">
                        <path d=""></path>
                    </svg>
                </a>
                <a href="/" class="icon control">
                    <svg width="12" height="10" viewBox="0 0 12 10" fill="currentColor">
                        <path d=""></path>
                    </svg>
                </a>
                <a href="/" class="icon control">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="currentColor">
                        <path d=""></path>
                        <path d=""></path>
                        <path d=""></path>
                    </svg>
                </a>
                <a href="/" class="icon control">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
                        <path d=""></path>
                        <path d=""></path>
                        <path d=""></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    
</section>