@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="main-footer">
    
    <div class="footer-head">
        <span class="head-footer--item">Visionary</span>
        <span class="head-footer--item">Strategic</span>
        <span class="head-footer--item">Engaging</span>
    </div>
    
    <div class="divider dark" style="border-top-width:2px"></div>
    
    <div class="footer-body">
        <div class="general-info">
            <img src="https://ge-cms-dev.azurewebsites.net/media/plsjeufr/footer-logo.svg" alt="footer logo" class="general-info__logo">
            <p class="general-info__description">We believe that realization of visions and business success, comes from the combined power of people and structure. We offer an efficient online based leadership training and a smart digital solution for goalbased management</p>
        </div>
        <div class="links">
            <h4 class="column-header">Certified leader</h4>
            <ul>
                <li><a href="/">Auctor bibendum</a></li>
                <li><a href="/">Natoque class erat tellus</a></li>
                <li><a href="/">Turpis nascetur curae</a></li>
                <li><a href="/">Diam sem, ultricies dis, curae</a></li>
            </ul>
        </div>
        <div class="links hidden-links">
            <h4 class="column-header">Manage success</h4>
            <ul>
                <li><a href="/">Auctor bibendum</a></li>
                <li><a href="/">Natoque class erat tellus</a></li>
                <li><a href="/">Turpis nascetur curae</a></li>
                <li><a href="/">Diam sem, ultricies dis, curae</a></li>
            </ul>
        </div>
        <div class="social">
            <h4 class="column-header">Like, share &amp; follow us</h4>
            <div class="media-icons">
                <a href="/" class="icon control">
                    <svg width="12" height="9" viewBox="0 0 12 9" fill="currentColor">
                        <path d="M11.7528 1.3147C11.6145 0.800612 11.2092 0.395362 10.6951 0.256934C9.7561 0 5.99987 0 5.99987 0C5.99987 0 2.24378 0 1.30474 0.247193C0.800612 0.385474 0.385401 0.800685 0.24712 1.3147C0 2.25367 0 4.20096 0 4.20096C0 4.20096 0 6.15807 0.24712 7.08722C0.385548 7.60124 0.790724 8.00649 1.30481 8.14491C2.25367 8.40192 6.00001 8.40192 6.00001 8.40192C6.00001 8.40192 9.7561 8.40192 10.6951 8.15473C11.2092 8.01637 11.6145 7.61112 11.7529 7.09711C11.9999 6.15807 11.9999 4.21085 11.9999 4.21085C11.9999 4.21085 12.0098 2.25367 11.7528 1.3147ZM4.80396 5.99994V2.40198L7.92746 4.20096L4.80396 5.99994Z"></path>
                    </svg>
                </a>
                <a href="/" class="icon control">
                    <svg width="6" height="12" viewBox="0 0 6 12" fill="currentColor">
                        <path d="M3.1947 12V5.99195H5.17719L5.49043 4.00095H3.1947V3.00261C3.1947 2.4831 3.36502 1.98723 4.11072 1.98723H5.60112V0H3.48521C1.70617 0 1.22071 1.17149 1.22071 2.79538V4.00003H0V5.99195H1.22071V12H3.1947Z"></path>
                    </svg>
                </a>
                <a href="/" class="icon control">
                    <svg width="12" height="10" viewBox="0 0 12 10" fill="currentColor">
                        <path d="M10.4774 2.84642C10.4774 2.7371 10.4754 2.62877 10.4705 2.52143C10.9383 2.1728 11.344 1.73654 11.6651 1.23724C11.2357 1.43028 10.7748 1.55929 10.2903 1.61342C10.7847 1.3091 11.1638 0.822616 11.343 0.238633C10.8802 0.519296 10.3681 0.7202 9.82348 0.824599C9.38723 0.328234 8.76483 0.0121341 8.07642 0.000309982C6.75481 -0.0213557 5.68335 1.09542 5.68335 2.49481C5.68335 2.69373 5.70402 2.88677 5.74537 3.07288C3.7551 2.94487 1.99133 1.90884 0.811508 0.346962C0.605684 0.721191 0.487513 1.15844 0.487513 1.62722C0.487513 2.51357 0.909994 3.3014 1.55207 3.76622C1.15915 3.74852 0.790833 3.62936 0.46783 3.43433C0.46783 3.44516 0.46783 3.45599 0.46783 3.46683C0.46783 4.70574 1.29311 5.74371 2.38818 5.98596C2.18728 6.04307 1.97554 6.07263 1.75789 6.07167C1.6033 6.07068 1.45358 6.05393 1.30784 6.02239C1.61215 7.03774 2.49651 7.7793 3.54333 7.8039C2.72396 8.4834 1.69191 8.88914 0.571202 8.8862C0.378158 8.8862 0.187132 8.87342 0 8.84977C1.05967 9.57656 2.31724 10 3.66936 10C8.0705 10.001 10.4774 6.17012 10.4774 2.84642Z"></path>
                    </svg>
                </a>
                <a href="/" class="icon control">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="currentColor">
                        <path d="M12.9874 3.82204C12.9569 3.1313 12.8452 2.65642 12.6852 2.24493C12.5202 1.80815 12.2662 1.41709 11.9335 1.09201C11.6084 0.761868 11.2148 0.505333 10.783 0.34284C10.3692 0.182828 9.89677 0.0711275 9.20603 0.0406726C8.51013 0.00763851 8.28921 0 6.52422 0C4.75922 0 4.5383 0.00763851 3.84498 0.0380934C3.15424 0.0685482 2.67937 0.180348 2.26798 0.340261C1.83109 0.505333 1.44004 0.759288 1.11496 1.09201C0.784816 1.41709 0.528381 1.81073 0.365789 2.24245C0.205778 2.65642 0.0940767 3.12872 0.0636218 3.81946C0.0305877 4.51536 0.0229492 4.73628 0.0229492 6.50127C0.0229492 8.26626 0.0305877 8.48719 0.0610426 9.1805C0.0914974 9.87124 0.203297 10.3461 0.363309 10.7576C0.528381 11.1944 0.784816 11.5854 1.11496 11.9105C1.44004 12.2407 1.83367 12.4972 2.2654 12.6597C2.67937 12.8197 3.15166 12.9314 3.8425 12.9619C4.53572 12.9924 4.75674 13 6.52174 13C8.28673 13 8.50765 12.9924 9.20097 12.9619C9.89171 12.9314 10.3666 12.8197 10.778 12.6597C11.6516 12.3219 12.3424 11.6312 12.6802 10.7576C12.8401 10.3436 12.9519 9.87124 12.9823 9.1805C13.0128 8.48719 13.0204 8.26626 13.0204 6.50127C13.0204 4.73628 13.0178 4.51536 12.9874 3.82204ZM11.8167 9.12971C11.7887 9.7646 11.6821 10.1074 11.5932 10.336C11.3748 10.9023 10.9253 11.3518 10.3589 11.5703C10.1304 11.6592 9.78507 11.7658 9.15266 11.7937C8.46698 11.8242 8.26133 11.8318 6.5268 11.8318C4.79226 11.8318 4.58403 11.8242 3.90083 11.7937C3.26594 11.7658 2.9231 11.6592 2.69454 11.5703C2.41271 11.4661 2.15618 11.301 1.94795 11.0852C1.73209 10.8744 1.56702 10.6204 1.46286 10.3386C1.37397 10.11 1.26733 9.7646 1.23946 9.13229C1.2089 8.44661 1.20136 8.24087 1.20136 6.50633C1.20136 4.77179 1.2089 4.56357 1.23946 3.88047C1.26733 3.24558 1.37397 2.90274 1.46286 2.67418C1.56702 2.39224 1.73209 2.13581 1.95053 1.92749C2.16124 1.71162 2.41519 1.54655 2.69712 1.44249C2.92568 1.3536 3.2711 1.24696 3.90341 1.21899C4.58909 1.18853 4.79484 1.18089 6.52928 1.18089C8.26639 1.18089 8.47204 1.18853 9.15524 1.21899C9.79013 1.24696 10.133 1.3536 10.3615 1.44249C10.6434 1.54655 10.8999 1.71162 11.1081 1.92749C11.324 2.13829 11.4891 2.39224 11.5932 2.67418C11.6821 2.90274 11.7887 3.24806 11.8167 3.88047C11.8472 4.56615 11.8548 4.77179 11.8548 6.50633C11.8548 8.24087 11.8472 8.44403 11.8167 9.12971Z"></path>
                        <path d="M6.52409 3.16187C4.68043 3.16187 3.18457 4.65763 3.18457 6.50138C3.18457 8.34514 4.68043 9.8409 6.52409 9.8409C8.36785 9.8409 9.86361 8.34514 9.86361 6.50138C9.86361 4.65763 8.36785 3.16187 6.52409 3.16187ZM6.52409 8.66765C5.32802 8.66765 4.35783 7.69756 4.35783 6.50138C4.35783 5.30521 5.32802 4.33512 6.52409 4.33512C7.72026 4.33512 8.69035 5.30521 8.69035 6.50138C8.69035 7.69756 7.72026 8.66765 6.52409 8.66765Z"></path><path d="M10.7757 3.02987C10.7757 3.4604 10.4266 3.80949 9.99593 3.80949C9.5654 3.80949 9.21631 3.4604 9.21631 3.02987C9.21631 2.59923 9.5654 2.25024 9.99593 2.25024C10.4266 2.25024 10.7757 2.59923 10.7757 3.02987Z"></path>
                    </svg>
                </a>
                <a href="/" class="icon control">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
                        <path d="M11.9972 12.0001V11.9996H12.0002V7.59861C12.0002 5.44561 11.5367 3.78711 9.01964 3.78711C7.80964 3.78711 6.99764 4.45111 6.66614 5.08061H6.63114V3.98811H4.24463V11.9996H6.72964V8.03261C6.72964 6.98811 6.92764 5.97811 8.22114 5.97811C9.49564 5.97811 9.51464 7.17011 9.51464 8.09961V12.0001H11.9972Z"></path>
                        <path d="M0.197754 3.98853H2.68575V12H0.197754V3.98853Z"></path>
                        <path d="M1.441 0C0.6455 0 0 0.6455 0 1.441C0 2.2365 0.6455 2.8955 1.441 2.8955C2.2365 2.8955 2.882 2.2365 2.882 1.441C2.8815 0.6455 2.236 0 1.441 0V0Z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    
</section>