@using Umbraco.Cms.Core.Services
@using UmbracoProject.Components.Header;
@using UmbracoProject.Components.Footer;
@using UmbracoProject.Components.Head;
@inject ILocalizationService LocalizationService
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;

    <html>
    @await Component.InvokeAsync(typeof(HeadViewComponent), new {page = Model })
   
    <body>
        <div id="__next">
            <div id="document" style="height:100%;overflow:auto">
                <div class="start-page">

                    @await Component.InvokeAsync(typeof(HeaderViewComponent), new { page = Model })

                    <main>
                        @RenderBody()
                    </main>

                    @await Component.InvokeAsync(typeof(FooterViewComponent))

                </div>
            </div>
        </div>
    </body>
</html>
}

