@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UmbracoProject.Components.Header.HeaderViewModel

<header class="main-header">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <div class="nav-panel">
        <img src="https://ge-cms-dev.azurewebsites.net/media/qici24up/logo.svg" alt="logo" class="nav-panel__logo">
        <div class="nav-panel__menus">

            <div class="page-header-menu">

                @foreach (var item in Model.NavigationLinks)
                {
                    <div class="page-header-menu__item">
                        <a style="display:contents;" class="nav-link" href="@item.Url"><span>@item.Name</span></a>
                    </div>

                }

                @foreach (var lan in Model.LanguageLinks)
                {
                    <a style="display:contents;" href="@lan.Url"><span>@lan.Name</span></a>
                }

            </div>


            <div class="lang-dropdown">


                <svg class="lang-dropdown__globe" viewBox="0 0 18 18" focusable="false" data-icon="global" width="100%" height="100%" fill="currentColor" aria-hidden="true"><path d="M15.362 2.63609C13.6626 0.936183 11.4031 0 8.99981 0C6.59649 0 4.33703 0.936183 2.63765 2.63609C0.938308 4.33596 0.00244141 6.59602 0.00244141 9C0.00244141 11.404 0.938308 13.664 2.63765 15.3639C4.33703 17.0638 6.59649 18 8.99981 18C11.4031 18 13.6626 17.0638 15.362 15.3639C17.0613 13.664 17.9972 11.404 17.9972 9C17.9972 6.59602 17.0613 4.33596 15.362 2.63609ZM8.99981 16.9456C8.40746 16.9456 7.75494 16.146 7.25428 14.8066C6.94328 13.9746 6.70783 12.9912 6.5567 11.9166H11.4429C11.2918 12.9912 11.0563 13.9745 10.7453 14.8066C10.2447 16.146 9.59216 16.9456 8.99981 16.9456ZM6.43823 10.8623C6.38674 10.2592 6.3601 9.63547 6.3601 9C6.3601 8.16325 6.40607 7.34677 6.4946 6.5712H11.505C11.5935 7.3468 11.6395 8.16328 11.6395 9C11.6395 9.63547 11.6129 10.2592 11.5614 10.8623H6.43823ZM1.05682 9C1.05682 8.16307 1.18584 7.34607 1.43344 6.5712H5.43442C5.34972 7.35165 5.30572 8.16729 5.30572 9C5.30572 9.6333 5.33124 10.2567 5.38062 10.8623H1.27553C1.13143 10.2594 1.05682 9.63547 1.05682 9ZM8.99981 1.05438C9.59216 1.05438 10.2447 1.85398 10.7453 3.1934C11.0008 3.87688 11.2053 4.66246 11.354 5.51679H6.64566C6.79433 4.66243 6.99884 3.87684 7.25432 3.1934C7.75494 1.85398 8.40742 1.05438 8.99981 1.05438ZM12.5652 6.57117H16.5661C16.8138 7.34607 16.9428 8.16303 16.9428 8.99996C16.9428 9.63547 16.8681 10.2594 16.7241 10.8622H12.619C12.6684 10.2566 12.6939 9.63326 12.6939 8.99996C12.6939 8.16729 12.6499 7.35162 12.5652 6.57117ZM16.1428 5.51679H12.4224C12.2604 4.52683 12.0284 3.61459 11.733 2.82422C11.5092 2.22555 11.2539 1.71593 10.9738 1.30065C12.3402 1.64866 13.5932 2.35815 14.6163 3.38153C15.249 4.01444 15.7613 4.73553 16.1428 5.51679ZM3.38331 3.38153C4.40633 2.35819 5.65939 1.6487 7.02576 1.30065C6.74569 1.71593 6.49042 2.22555 6.26665 2.82422C5.97121 3.61459 5.73925 4.52683 5.57719 5.51679H1.85681C2.23836 4.73553 2.75061 4.01444 3.38331 3.38153ZM1.60724 11.9167H5.49319C5.65412 13.1258 5.91568 14.2367 6.26668 15.1758C6.49045 15.7745 6.74572 16.2841 7.0258 16.6994C5.65946 16.3513 4.40637 15.6418 3.38334 14.6185C2.60033 13.8352 2.0014 12.9171 1.60724 11.9167ZM14.6163 14.6185C13.5933 15.6418 12.3402 16.3513 10.9738 16.6994C11.2539 16.2841 11.5092 15.7745 11.733 15.1758C12.084 14.2367 12.3455 13.1258 12.5065 11.9167H16.3924C15.9982 12.9171 15.3993 13.8352 14.6163 14.6185Z"></path></svg>
                <svg class="lang-dropdown__arrow-down" width="12" height="7" viewBox="0 0 12 7" fill="currentColor" stroke="currentColor"><path d="M6.27438 5.89542L10.892 1.60959C11.0396 1.4677 11.0354 1.24161 10.8825 1.10458C10.7334 0.970896 10.497 0.970896 10.3479 1.10458L6.00233 5.13791L1.65677 1.10458C1.50652 0.96514 1.26293 0.96514 1.11267 1.10458C0.962442 1.24405 0.962442 1.47013 1.11267 1.60959L5.73028 5.89542C5.88055 6.03486 6.12413 6.03486 6.27438 5.89542Z"></path></svg>
            </div>
            <div class="sing-in-botton-container">
                <button class="sign-in-button">
                    <svg class="sign-in-button__icon" width="15" height="15" viewBox="0 0 15 15" fill="currentColor">
                        <path d="M14.375 8.11206H0.625C0.279999 8.11206 0 7.83206 0 7.48706C0 7.14206 0.279999 6.86206 0.625 6.86206H14.375C14.72 6.86206 15 7.14206 15 7.48706C15 7.83206 14.72 8.11206 14.375 8.11206Z"></path>
                        <path d="M14.375 3.32031H0.625C0.279999 3.32031 0 3.04032 0 2.69531C0 2.35031 0.279999 2.07031 0.625 2.07031H14.375C14.72 2.07031 15 2.35031 15 2.69531C15 3.04032 14.72 3.32031 14.375 3.32031Z"></path>
                        <path d="M14.375 12.9036H0.625C0.279999 12.9036 0 12.6236 0 12.2786C0 11.9336 0.279999 11.6536 0.625 11.6536H14.375C14.72 11.6536 15 11.9336 15 12.2786C15 12.6236 14.72 12.9036 14.375 12.9036Z"></path>
                    </svg>
                    <span class="sign-in-button__label">Sign In</span>
                </button>
            </div>
        </div>

    </div>
</header>
